<div id="contact">
	<h1>Contact</h1>

	<div id="contact_form">

		<h2>Send me a message!</h2>
		<%= form_for @support, :url => { :controller => "supports", :action => "create" }, :html => { :method => :post } do |f| %>

			<p>
			<%= f.label :sender_name, "Name:" %>

			<%= f.text_field :sender_name %>
		</p>
		<p>
			<%= f.label :email, "E-mail:" %>

			<%= f.text_field :email %>

		</p>
		<p>
			<%= f.text_area :content %>
		</p>
		<p class="button">
			<%= f.submit "Send" %>
		</p>
		<% end %>

	</div>

</div>

<p class="line"></p>
