<section id="contact">

	<h1><%=t :contact_section %></h1>

	<div id="contact_content">
		<div id="getintouch">

			<div id="textbubble">
				<h2><%=t :getintounch %></h2>
				<p><%=t :text1 %></p> 
				<p><%=t :text2 %></p>
			</div>

			<div id="stickybubble">
				<h2><strong><%=t :accepting %></strong></h2> 
			</div>
			
		</div>

		<div id="contact_form">
			<h2><%=t :send_me %></h2>
			<%= form_for @support, :url => { :controller => "supports", :action => "create", :anchor => "contact" }, :html => { :method => :post } do |f| %>

			<% if flash[:notice_sent] %>
			<p class="notice"><%= flash[:notice_sent] %></p>
			<% end %>	

			<% if @support.errors.any? %>
			<div id="error_explanation">
				<p id="explanation"><%=t :error_explanation %></p>
				<p class="errors">
					<% @support.errors.full_messages.each do |msg| %>
					<%= msg + ". "%> 
					<% end %>
				</p>
			</div>
			<% end %>

			<p>
				<%= f.label :sender_name %>	
				<%= f.text_field :sender_name %>
			</p>
			<p>
				<%= f.label :email %>
				<%= f.text_field :email %>

			</p>
			<p>
				<%= f.label :content %>
				<%= f.text_area :content %>
			</p>
			<p class="button">
				<%= f.submit t(:send) %>			
			</p>
			<% end %>
		</div>
	</div>

	<div id="findme_content">
		<div id="findme_bubble">
			<h2><%=t :findme_section %></h2>
			<ul>
				<li><a target ="_blank" href="http://helenaenred.tumblr.com/"><%= image_tag "/assets/icons/Tumblr-48.png", :class => 'icon', :alt => t(:tumblr) %></a></li>
				<li><a target ="_blank" href="http://www.linkedin.com/pub/helena-moreno-chacon/b/361/500/es"><%= image_tag "/assets/icons/linkedin_48.png", :class => 'icon', :alt => t(:linkedin) %></a></li>
				<li><a target ="_blank" href="http://twitter.com/helenatxu"><%= image_tag "/assets/icons/twitter_48.png", :class => 'icon', :alt => t(:twitter) %></a></li>
				<li><a target = "_blank" href="http://es.wikipedia.org/wiki/QR_code"><%= image_tag "/assets/elements/code_web_helena_moreno.png", :id => 'vcard', :alt => t(:vcard) %></a></li>
			</ul>
		</div>
	</div>

</section>
<p class="line"></p>
