<section id="contact">

	<h1><%=t :contact_section %></h1>

	<div id="contact_content">
		<div id="getintouch">

			<div id="textbubble">
				<h2><%=t :getintounch %></h2>
				<p><%=t :text1 %></p> 
				<p><%=t :text2 %></p>
			</div>

			<div id="stickybubble">
				<h2><strong><%=t :accepting %></strong></h2> 
			</div>
			
		</div>

		<div id="contact_form">
			<h2><%=t :send_me %></h2>
			<%= form_for @support, :url => { :controller => "supports", :action => "create", :anchor => "contact" }, :html => { :method => :post } do |f| %>

			<% if flash[:notice_sent] %>
			<p class="notice"><%= flash[:notice_sent] %></p>
			<% end %>	

			<% if @support.errors.any? %>
			<div id="error_explanation">
				<p id="explanation"><%=t :error_explanation %></p>
				<p class="errors">
					<% @support.errors.full_messages.each do |msg| %>
					<%= msg + ". "%> 
					<% end %>
				</p>
			</div>
			<% end %>

			<p>
				<%= f.label :sender_name %>	
				<%= f.text_field :sender_name %>
			</p>
			<p>
				<%= f.label :email %>
				<%= f.text_field :email %>

			</p>
			<p>
				<%= f.label :content %>
				<%= f.text_area :content %>
			</p>
			<p class="button">
				<%= f.submit t(:send) %>			
			</p>
			<% end %>
		</div>
	

	<div id="findme_content">
		<div id="findme_bubble">
			<h2><%=t :findme_section %></h2>
			<ul>
				<li><%= link_to(image_tag("/assets/icons/twitter_48.png", :class => 'icon', :alt => t(:twitter)), 'http://twitter.com/helenatxu', :title =>t(:twitter), :target =>'_blank', :id => 'twitter') %></li>			
				<li><%= link_to(image_tag("/assets/icons/linkedin_48.png", :class => 'icon', :alt => t(:linkedin)), 'http://www.linkedin.com/pub/helena-moreno-chacon/b/361/500/', :title =>t(:linkedin), :target =>'_blank', :id => 'linkedin') %></li>			
				<li>
<%= link_to(image_tag("/assets/icons/Tumblr-48.png", :class => 'icon', :alt => t(:tumblr)), 'http://helenaenred.tumblr.com/', :title =>t(:tumblr), :target =>'_blank', :id => 'tumblr') %></li>
				<li>
					<% if locale.to_s == 'es'%>
					<%= link_to(image_tag("/assets/icons/downloadCV_48.png", :class => 'icon', :alt => t(:cv)), '/assets/docs/Curriculum_Vitae-Helena_Moreno_Chacon_es.pdf', :title =>t(:cv), :target =>'_blank', :id => 'cv') %>
					<% else %>
					<%= link_to(image_tag("/assets/icons/downloadCV_48.png", :class => 'icon', :alt => t(:cv)), '/assets/docs/Curriculum_Vitae-Helena_Moreno_Chacon.pdf', :title =>t(:cv), :target =>'_blank', :id => 'cv') %>
					<% end %>
				</li>	
				<li id="gplus">
					<div class="g-plusone"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>
<p class="line"></p>
