<div id="contact">
	<h1><%=t :contact_section %></h1>

	<div id="contact_form">

		<h2><%=t :send_me %></h2>
		<%= form_for @support, :url => { :controller => "supports", :action => "create", :anchor => "contact" }, :html => { :method => :post } do |f| %>

		<% if flash[:notice_sent] %>
		<p class="notice"><%= flash[:notice_sent] %></p>
		<% end %>	
		<p>
			<%= f.label :sender_name, t(:name) %>	
			<% if flash[:error_name] %>
			<span class="notice"><%= flash[:error_name] %></span>
			<% end %>

			<%= f.text_field :sender_name %>
		</p>
		<p>
			<%= f.label :email, "E-mail:" %>
			<% if flash[:error_email] %>
			<span class="notice"><%= flash[:error_email] %></span>
			<% end %>
			<%= f.text_field :email %>

		</p>
		<p>
			<%= f.label :error, "Message:" %>
			<% if flash[:error_content] %>
			<span class="notice"><%= flash[:error_content] %></span>
			<% end %>
			<%= f.text_area :content %>
		</p>
		<p class="button">
			<%= f.submit t(:send) %>			
		</p>
		<% end %>

	</div>
</div>
<p class="line"></p>
