<div id="contact">
	<h1>Contact</h1>

	<div id="contact_form">

		<%= form_for @support, :url => { :controller => "supports", :action => "create" }, :html => { :method => :post } do |f| %>

		<p>
			<%= f.label "Type" %>

			<%= f.select :support_type, options_for_select(["Ask", "Idea", "Bug"]) %>
			</p>
			<p>
			<%= f.label "Name" %>

			<%= f.text_field :sender_name %>
		</p>
		<p>
			<%= f.label "Email" %>

			<%= f.text_field :email %>

		</p>
		<p>
			<%= f.text_area :content %>
		</p>
		<p>
			<%= f.submit "Submit" %>
		</p>
		<% end %>

	</div>

</div>

<p class="line"></p>
