<section id="portfolio">
	<h1><%=t :portfolio_section %></h1>
	<div class="portfolio_container">
		<ul>
			<% counter = 0 %>
			<% total = @projects.count %>
			<% @projects.each do |project| %>
			<% counter = counter + 1 %>

			<li class="projects_list" id="<%='project'+counter.to_s%>">
				<div class="project_container">
					<% if locale.to_s == "es" %>
					<div class="tv">
						<h2><%= link_to  project.nombre, project.url, :target =>"_blank" %></h2>
						<p><%= project.descripcion %></p>
						<div class="bubble">
							<p><span class="h3"><%=t :what %></span><strong><%= project.trabajo %></strong>
							</p>
							<p><span class="h3"><%=t :tools %></span><strong><%= project.herramientas %></strong>
							</p>
						</div>
						<p class="button">
							<%= link_to  'Ver demo', project.url, :target =>"_blank", :title => t(:demo) %>			
						</p>	

					</div>

					<div class="thumbnail">
						<div class="slider-wrapper theme-orman">
							<div class="ribbon">
							</div>

							<div id="slider" class="nivoSlider">
								<!-- <%= link_to(image_tag(project.thumb1), project.image1, :class => 'project_gallery', :title =>project.desc_image_big1_es , :alt => "Proyecto: "+project.nombre) %>

															<%= link_to(image_tag(project.thumb2), project.image2, :class => 'project_gallery', :title =>project.desc_image_big2_es, :alt => "Proyecto: "+project.nombre) %>

															<%= link_to(image_tag(project.thumb3), project.image3, :class => 'project_gallery', :title =>project.desc_image_big3_es, :alt => "Proyecto: "+project.nombre) %> -->
							<%= image_tag project.thumb1, :alt => "Proyecto: "+project.nombre, :title =>project.desc_image_big1_es %>
							<%= image_tag project.thumb2, :alt => "Proyecto: "+project.nombre, :title =>project.desc_image_big2_es %>
							<%= image_tag project.thumb3, :alt => "Proyecto: "+project.nombre, :title =>project.desc_image_big3_es %>
							</div>
							
							<div id="htmlcaption" class="nivo-html-caption">
								<em>Click</em> on the image to enlarge.
							</div>
							
						</div>
					</div>

							<p class="clear"></p>

							<% else %>
							<div class="tv">
								<h2><%= link_to  project.name, project.url, :target =>"_blank" %></h2>
								<p><%= project.description %></p>
								<div class="bubble">
									<p><span class="h3"><%=t :what %></span><%= project.work %>
									</p>
									<p><span class="h3"><%=t :tools %></span><%= project.tools %>
									</p>
								</div>
								<p class="button">
									<%= link_to  'View demo', project.url, :target =>"_blank", :title => t(:demo) %>			
								</p>
							</div>

							<div class="thumbnail">
								<div class="slider-wrapper theme-orman">
									<div class="ribbon">
									</div>

									<div id="slider" class="nivoSlider">
										<%= link_to(image_tag(project.thumb1, :alt => "Project: "+project.name), project.image1, :class => 'project_gallery', :title =>project.desc_image_big1) %>

										<%= link_to(image_tag(project.thumb2, :alt => "Project: "+project.name), project.image2, :class => 'project_gallery', :title =>project.desc_image_big2) %>

										<%= link_to(image_tag(project.thumb3, :alt => "Project: "+project.name), project.image3, :class => 'project_gallery', :title =>project.desc_image_big3) %>
									</div>
									
									<div id="htmlcaption" class="nivo-html-caption">
										<em>Click</em> on the image to enlarge.
									</div>

								</div>
							</div>

									<p class="clear"></p>
									<% end %>
								</div>
								<% if counter == total %>
								<%= link_to  t(:back), '#project1', :class => 'anchorLink nextproject', :title => t(:backproject) %>
								<% else %>
								<%= link_to  t(:nextproject), '#project'+(counter+1).to_s, :class => 'anchorLink nextproject', :title => t(:gonextproject) %>
								<% end %>
							</li>
							<% end %>
						</ul>
						<p class="clear"></p>
					</div>
				</section>
				<div class="clear"></div>
				<p class="shadow_up"></p>