<div id="portfolio">
	<h1>Portfolio</h1>

	<% @projects.each do |project| %>
	<div class="container">

		<ul class="projects_list">
			<li>
				<div class="image"><%= image_tag project.image, :alt => project.name %>					
				</div>
				<div class="tv">
					<h2><%= link_to  project.name, project.url %></h2>
					<p><span class="text"><%= project.description %></span></p>

					<p>What I did: <span class="text"><%= project.work %></span></p>

					<p>Tools &amp; technologies: <span class="text"><%= project.tools %></p>
				</div>
			</li>
		</ul>

	</div>
	<% end %>
	
</div>
<p class="shadow_up"></p>