<div id="home">

	<div id="navigation">
		<ul id="nav_bar"> 
			<li id="hello_link"><a href="#home" class="anchorLink" title="hello I am Helena Moreno Chacon">hello</a></li> 
			<li id="portfolio_link"><a href="#portfolio" class="anchorLink" title="web design &amp; development portfolio">portfolio</a></li> 
			<li id="aboutme_link"><a href="#aboutme" class="anchorLink" title="about Helena Moreno Chacon">about me</a></li> 
			<li id="contact_link"><a href="#contact" class="anchorLink" title="contact me!">contact</a></li> 
			<li id="contact_link">
				<ul>
					<li>En</li> 
					<li>Es</li> 
				</ul>
			</li> 
		</ul>
	</div>

	<div id="logo"><a href="http://helenaweb.herokuapp.com/" class="anchorLink" title="Helena Moreno Chacon. Freelance web designer &amp; developer">
	<%= image_tag "/assets/elements/logo.png", :alt => "Helena Moreno Chacon. Freelance web designer &amp; developer" %>
	</a></div>

	<header id="hello">
		<hgroup id="hgroup">
			<h1><%=t :hello_big %></h1>
			<h2><%=t :hello_small %></h2>

			<h3><a id="arrow" href="#portfolio" class="anchorLink" title="skip to my portfolio!">
				<%= image_tag "/assets/elements/arrow_down.png", :alt => "Skip to my Portfolio" %>
			</a></h3>

			<h3><%=t :checkout %></h3>
		</hgroup>
	</header>


</div>

<p class="shadow"></p>

<%= render 'portfolio' %>

<%= render 'aboutme' %>

<%= render 'contact' %>
