<div id="home">
	<div id="navigation">
		<ul id="nav_bar"> 
			<li id="hello_link"><%= link_to  t(:hello), "#home", :class => 'anchorLink', :title => t(:hello_title) %></li>
			<li id="portfolio_link"><%= link_to  t(:portfolio), "#portfolio", :class => 'anchorLink', :title => t(:portfolio_title)%></li>
			<li id="aboutme_link"><%= link_to  t(:aboutme), "#aboutme", :class => 'anchorLink', :title => t(:aboutme_title)%></li>
			<li id="contact_link"><%= link_to  t(:contact), "#contact", :class => 'anchorLink', :title => t(:contact_title)%></li>
			<li id="lang_menu">
				<ul>
					<li>
						<%=link_to("Espa単ol", "#{"http://www.helenamoreno.es"}")%>
						
						<!-- <%= link_to(image_tag("/assets/flags/us.png", :alt => "change to english", :class => 'flag_images'), url_for(:action => 'hello', :controller => 'home', :locale => 'en' )) %> -->
						<!-- <%= link_to 'en', url_for(:action => 'hello', :controller => 'home', :locale => 'en' )%> -->
					</li>
					<li>
						<%= link_to(image_tag("/assets/flags/es.png", :alt => "cambiar a espa単ol", :class => 'flag_images'), url_for(:action => 'hello', :controller => 'home', :locale => 'es' )) %>
						<%= link_to 'es', url_for(:action => 'hello', :controller => 'home', :locale => 'es' )%>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<% if params[:locale] == 'es'%>
	<div id="logo"><a href="http://www.helenamoreno.es" class="anchorLink" title="Helena Moreno Chacon. Dise単ador &amp; desarrollador web freelance">
		<%= image_tag "/assets/elements/logo_es.png", :alt => "Helena Moreno Chacon. Dise単ador &amp; desarrollador web freelance" %>
	</a></div>
		<% else %>
		<div id="logo"><a href="http://www.helenamoreno.com" class="anchorLink" title="Helena Moreno Chacon. Freelance web designer &amp; developer">
			<%= image_tag "/assets/elements/logo_eng.png", :alt => "Helena Moreno Chacon. Freelance web designer &amp; developer" %>
		</a></div>
	<% end %>
	
	<header id="hello">
		<hgroup id="hgroup">
			<h1><%=t :hello_big %></h1>
			<h2><%=t :hello_small1 %><br /><%=t :hello_small2 %></h2>

			<h3><a id="arrow" href="#portfolio" class="anchorLink">
				<%= image_tag "/assets/elements/arrow_down.png", :alt => t(:skip) %>
			</a></h3>

			<h3><%=t :checkout %></h3>
		</hgroup>
	</header>
</div>
<p class="shadow"></p>

<%= render 'home/portfolio' %>

<% if params[:locale] == 'es'%>
	<%=  render 'home/aboutme_es'%>
	<% else %>
		<%=  render 'home/aboutme_en'%>
<% end %>

<%= render 'home/contact' %>
