	<div id="edit" class="portfolio_admin">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2> Oops! There are at least <%= pluralize(@project.errors.count, "error") %>.</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :name %>   </p>
  <p class="field">
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label :nombre %>   </p>
  <p class="field">
    <%= f.text_field :nombre %>
  </p>
  <p class="field">
    <%= f.label :description %></p>
  <p class="field"><%= f.text_area :description %>
  </p>
</p>
<p class="field">
  <%= f.label :descripcion %></p>
<p class="field"><%= f.text_area :descripcion %>
</p>
  <p class="field">
    <%= f.label :work %> </p>
  <p class="field">
    <%= f.text_field :work %>
  </p>
  <p class="field">
    <%= f.label :trabajo %> </p>
  <p class="field">
    <%= f.text_field :trabajo %>
  </p>
  <p class="field">
    <%= f.label :tools %> </p>
  <p class="field">
    <%= f.text_field :tools %>
  </p>
  <p class="field">
    <%= f.label :herramientas %> </p>
  <p class="field">
    <%= f.text_field :herramientas %>
  </p>
  <p class="field">
    <%= f.label :image %> </p>
  <p class="field">
    <%= f.text_field :image %>
  </p>
  <p class="field">
    <%= f.label :image_big1 %> </p>
  <p class="field">
    <%= f.text_field :image_big1 %>
  </p>
  <p class="field">
    <%= f.label :image_big2 %> </p>
  <p class="field">
    <%= f.text_field :image_big2 %>
  </p>
  <p class="field">
    <%= f.label :image_big3 %> </p>
  <p class="field">
    <%= f.text_field :image_big3 %>
  </p>
  <p class="field">
    <%= f.label :url %> </p>
  <p class="field">
    <%= f.text_field :url %>
  </p>
  <p class="actions button">
    <%= f.submit "Save"%>
  </p>
<% end %>
</div>
