<div id="portfolio">

	<h1>Portfolio Admin</h1>

	<p id="newproject"><%= link_to 'New Project', new_project_path %></p>

	<ul class="portfolio_admin">
		<% @projects.each do |project| %>
		<li class="projects-list">
			<div class="thumb">
				<p><%= image_tag project.thumb1 %></p>
				<p><%= link_to 'Show', project %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></p>
			</div>
			
			<div class="text">
				<p>Name: <span class="data"><%= link_to  project.name, project %></span></p>
				<p>Description: <span class="data"><%= project.description %></span></p>
				<p>What I did: <span class="data"><%= project.work %></span></p>
				<p>Tools &amp; technologies: <span class="data"><%= project.tools %></span></p>

			</div>
		</li>
		<% end %>
	</ul>


</div>