<div id="portfolio">
	<p id="notice"><%= notice %></p>


	<h1><%= @project.name %></h1>


	<div id="show" class="portfolio_admin">

		<p>Description: <span class="data"><%= @project.description %></span></p>

		<p>Work: <span class="data"><%= @project.work %></span></p>

		<p>Tools: <span class="data"><%= @project.tools %></span></p>

		<p>URL: <span class="data"><%= @project.url %></span></p>

		<p>Image: <span class="data"><%= @project.thumb1 %></span></p>
		
		<p>Image: <span class="data"><%= image_tag @project.thumb1 %></span></p>

		<p><%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Back', projects_path %></p>

		</div>
	</div>