<!DOCTYPE html>
<% if locale.to_s == 'es'%>
<html lang="en">
<% else %>
<html lang="es">
<% end %>
<html itemscope itemtype="http://schema.org/LocalBusiness">

<head>
	<title><%=t :title %></title>
	<link rel="shortcut icon" href="/assets/elements/favicon.ico">
	<link rel="canonical" href="http://www.helenamoreno.com" />
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta charset="UTF-8" />
	<meta itemprop="name" content="Helena Moreno Chacón. Web Design &amp; Development.">
	<meta itemprop="description" content="Web Design &amp; Development. Helena Moreno Chacón Personal Portfolio.">
	<meta name="description" content="<%= t :description %>" />
	<meta name="keywords" content="<%= t :keywords %>" />
	<meta name="author" content="Helena Moreno Chacon" />
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-26323505-1']);
	_gaq.push(['_setDomainName', 'helenamoreno.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		</script>

	</head>

	<body>
		<div id="main_container">
			<%= yield %>
			<footer>
				<div id="footer">
					<p><a target = "_blank" href="http://es.wikipedia.org/wiki/QR_code" title="<%= t :wQr %>"><%= image_tag "/assets/elements/code_web_helena_moreno.png", :id => 'vcard', :alt => t(:vcard) %></a></p>
					<p><strong>Helena Moreno Chacón 2011</strong></p> 
					<p><strong><%=t :footer1 %></strong></p>
					<p><a href="http://html5.validator.nu/?doc=http%3A%2F%2Fwww.helenamoreno.com" title="Check the validator!" target ="_blank"><strong><%=t :footer2 %></strong></a></p>
				</div>
			</footer>
		</div>
	</body>
	</html>

