<!DOCTYPE html>
<html>
<head>
	<title><%=t :title %></title>
	<link rel="shortcut icon" href="/assets/elements/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<meta name="description" content="<%= t :description %>" />
	<meta name="keywords" content="<%= t :keywords %>" />
	<meta name="author" content="Helena Moreno Chacon" />
	<meta charset="UTF-8" />
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>	
	<%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
<footer>
	<div id="footer">
		<p><strong>Helena Moreno Chacón 2011</strong></p> 
		<p><strong><%=t :footer1 %></strong></p>
		<p><a href="http://html5.validator.nu/?doc=http%3A%2F%2Fwww.helenamoreno.com" title="Check the validator!"><strong><%=t :footer2 %></strong></a></p>
	</div>
</footer>
</body>
</html>

