<!DOCTYPE html>
<% if locale.to_s == 'es'%>
	<html lang="en">
	<% else %>
	<html lang="es">
<% end %>
<head>
	<title><%=t :title %></title>
	<link rel="shortcut icon" href="/assets/elements/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="description" content="<%= t :description %>" />
	<meta name="keywords" content="<%= t :keywords %>" />
	<meta name="author" content="Helena Moreno Chacon" />
	<meta charset="UTF-8" />
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>	
	<%= csrf_meta_tags %>
</head>

<body>
	<div id="main_container">
		<%= yield %>
		<footer>
			<div id="footer">
				<p><a target = "_blank" href="http://es.wikipedia.org/wiki/QR_code" title="<%= t :wQr %>"><%= image_tag "/assets/elements/code_web_helena_moreno.png", :id => 'vcard', :alt => t(:vcard) %></a></p>
				<p><strong>Helena Moreno Chacón 2011</strong></p> 
				<p><strong><%=t :footer1 %></strong></p>
				<p><a href="http://html5.validator.nu/?doc=http%3A%2F%2Fwww.helenamoreno.com" title="Check the validator!" target ="_blank"><strong><%=t :footer2 %></strong></a></p>
			</div>
		</footer>
	</div>
</body>
</html>

